@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.accordions {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 144px;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.step-enter {
    &.step-forward {
      right: -100vw;
      left: 100vw;
      & + .step-leave-active{
        transition: left .3s, right .3s;
        right: 100vw;
        left: -100vw;
      }
    }
    &.step-backward {
      right: 100vw;
      left: -100vw;
      & + .step-leave-active{
        transition: left .3s, right .3s;
        right: -100vw;
        left: 100vw;
      }
    }
    &.step-enter-active {
      transition: left .3s, right .3s;
      right: 0;
      left: 0;
    }
  }

  .accordion {
    .content{
      @include word-wrap();
    }
    &.closed {
      .expander {
        height: 0;
      }
    }
    &.open {
      .chevron {
        transform: rotate(90deg);
      }
      .expander {
      }
    }
    .title {
      .chevron {
        transition: all .3s ease;
      }
      cursor: pointer;
    }
    > .expander {
      min-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .list__item {
      padding: 0 15px;
      .list__item__center {
        flex-direction: column;
        background: none;
        padding-right: 0;
        ons-button.go-next{
          margin-left: auto;
          min-width: 50px;
          text-align: center;
          float: right;
        }
      }
    }
  }
}
