$light-blue: rgba(18,114,224,0.77);

#landing {
    padding:10px;
    display:flex;
    align-items:center;
    flex-direction: column;
    min-height:100vh;
    box-sizing: border-box;
    //border: 2px solid $light-blue;
    h1 {
        text-align: center;
        font-size: 1.15em;
        color: $light-blue;
        padding: 20px;

        span {
            display: inline-block;
        }
    }
    img {
        box-sizing: border-box;
        max-width: 300px;
        margin: auto 0;
    }
    p {
        margin: 3px 0 20px 0;
        text-align: center;
        color: $light-blue;
        font-size: 80%;
    }
}
