$light-blue: rgba(18, 114, 224, 0.77);

  .page__content{
    //top: 0 !important;
  }

#landing {
    padding:10px;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 20px);

    #menuActuator{
        $position: 15px;

        position: absolute;
        top: $position;
        right: $position;
        color:#ccc;
    }
    h1 {
        text-align: center;
        font-size: 1.15em;
        color: $light-blue;
        padding: 20px;

    span {
      display: inline-block;
    }
  }
  img, #landing-image {
    fill: #333;
    box-sizing: border-box;
    max-width: 300px;
    //margin: auto 0;
  }
  .buttons {
    width: 100%;
    ons-button {
      margin-bottom: 15px;
    }
  }
  p {
    margin: 3px 0 20px 0;
    text-align: center;
    color: $light-blue;
    font-size: 80%;
  }
}

ons-popover {
  .popover__content {
    padding: 0px 15px;
    min-height: 50px;
  }
}
