.photo-input{
  border-radius: 3px;
  border: 2px dashed #ccc;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .ons-icon{
    &:before{
      color: #cccccc;
      font-size: 1.4em;
    }
  }
}