#login-page {
  display:flex;
  flex-direction:column;
  .page__content{
    flex:1;
    display:flex;
    flex-direction:column;

    ons-button {
      flex-shrink: 0;
      margin-bottom: 20px;
    }
  }

  #login-form {
    padding: 20px;
    box-sizing:border-box;
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    >div { margin: auto 0 auto 0};
    form {
      ons-input {
        display: block;
        margin-bottom: 40px;
      }
    }
  }
}