.IncidentUpdateForm {
  width: 100%;
  .warning {
    padding: 20px 0;
    color: #797979;
  }
  form {
    display: flex;
    flex-direction: column;
    ons-input {
      display: block;
      margin-bottom: 15px;
    }
  }
}
