.photo-input {
  label{
    color: #8c8c8c;
  }
  .photos {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 -7.5px 7.5px -7.5px;
    & > * {
      margin: 7.5px;
    }
    .photo {
      width: 95px;
      height: 55px;
      position: relative;
      display: flex;
      flex-direction: row;
      .image {
        background-size: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .delete-photo {
        width: 40px;
        text-align: center;
        padding: 0 5px;
        line-height: 55px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #707070;
      }
      .progress {
        position: absolute;
        height: 3px;
        background-color: cornflowerblue;
        bottom: 0;
        left: 0;
      }
    }
    .photo-button {
      border-radius: 3px;
      border: 2px dashed #ccc;
      height: 55px;
      width: 55px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;
      text-decoration: none;
      .ons-icon {
        &:before {
          color: #cccccc;
          font-size: 1.4em;
        }
      }
    }
    .spacer {
      opacity: 0;
      flex-grow: 1;
    }
  }
}